body {
	background-color : black;
}

#game_canvas { 
	position: fixed;
	top: 50%;
	left: 50%;
	border:1px solid #888; 
	display:block; 
    margin-top: -320px; /*set to a negative number 1/2 of your height*/
    margin-left: -240px; /*set to a negative number 1/2 of your width*/
	width: 640px;
	height: 480px;
}
 
#debug { 
	text-align:left; 
	width:620px; 
	height:460px; 
	border:1px solid #888; 
	font: 16px monospace; 
	overflow: auto; 
	background-color:#f8fcff; 
	margin: 10px auto;
	padding:10px; 
}

#input-container{
	text-align:left; 
	width: 620px;
	overflow: auto; 
	margin: 10px auto;
	padding:10px;
}

#legend{
	text-align:left; 
	width: 620px;
	overflow: auto; 
	margin: 10px auto;
	padding:10px;
}