@font-face {
    font-family: 'antilles'; /*a name to be used later*/
    src: url('antilles.ttf'); /*URL to font*/
}

body {
	background-color : black;
	text-align : center;
}

#game_canvas { 
	display:inline-block; 
	width: 640px;
	height: 480px;
}
 
#debug { 
	text-align:left; 
	width:620px; 
	height:460px; 
	border:1px solid #888; 
	font: 16px monospace; 
	overflow: auto; 
	background-color:#f8fcff; 
	margin: 10px auto;
	padding:10px; 
}

#input-container{
	overflow: auto; 
	text-align:center;	
	width: 620px;
	overflow: auto; 
	margin: 10px auto;
	padding:10px;
	background-color:#fff;
}

#legend{
	text-align:left; 
	width: 620px;
	overflow: auto; 
	margin: 10px auto;
	padding:10px;
}

#achievements{
	width: 100%;
	height: 50pc;
	background-color: #000;
	text-align: left;
	padding: 50px;
}

#achv{
	margin : 15px;
	float: left;
	width: 100px;
	height:100px;
	background-color: #fff;
	text-align: center;
	vertical-align: center;
	line-height: 100px;  
	color: #000;
	font-family: antilles;
	font-size: 25px;
}